@import './variable.scss';

@mixin btn(
  $bgColor: $second-color,
  $width: 7.4%,
  $paddingW: 13px,
  $color: #ffff,
  $opa: 1
) {
  color: $color;
  border-radius: 5px;
  background: $bgColor;
  min-height: 5%;
  min-width: $width;
  padding: 10px $paddingW;
  font-size: 14px;
  border: none;
  overflow: hidden;
  letter-spacing: 1.46px;
  text-align: center;
  opacity: $opa;
  cursor: pointer;
}

@mixin stepTitle() {
  font-size: 20px;
  color: #000000;
  letter-spacing: 2.09px;
  font-weight: bolder;
  background-image: linear-gradient(180deg, #fff 50%, $main-color 0);
  height: 32px;
  display: inline-flex;
  align-items: center;
  padding: 0px 10px;
  width: 237px;
}

// 電腦
@mixin pc-width() {
  @media all and (min-width: $pc-media) {
    @content;
  }
}
// 平板
@mixin pad-width() {
  @media all and (max-width: $pcs-media) {
    @content;
  }
}

// 小平板
@mixin spad-width() {
  @media all and (max-width: $pads-media) {
    @content;
  }
}

// 手機
@mixin phone-width() {
  @media all and (max-width: $phones-media) {
    @content;
  }
}
